:root{
    --dark-grey: #4D4D4D;
    --grey-black: #100E16;
    --lime-green:#ABC721;
    --sea-blue: #0595A8;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

h2{
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding-top: 10px;
    font-weight: bold;
}
p{
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-top: 10px;
}

.navbar{
    background-color: var(--grey-black);
    width: 100%;
    min-width: 320px;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo-intelligent-reservoir{
    margin-left: 10px;
    width: 120px;
    height: auto;
}

.main-title-container{
    width: 100%;
    min-width: 320px;
    height: 230px;
    background-image: url('./images/fotos/header-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

.main-title-container--text{
    width: 90%;
    min-width: 224px;
    max-width: 390px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(100%);
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}

.main-title-container--text h1{
    color:var(--lime-green);
    font-weight: bold;
    font-size: 2.0rem;
    margin-top: 10px;
}

.main-title-container--text p{
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#long-description{
    margin: 20px auto;
    text-align: center;

}

#long-description a{
    display: inline-block;
    width: 93px;
    height: 44px;
    line-height: 44px;
    margin-top: 20px;
    background-color: var(--lime-green);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

#start-at-wellsite{
    width: 100%;
    min-width: 320px;
    height: 213.33px;
    background-image: url('./images/fotos/start-background.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.start-at-wellsite--text h2{
    padding: 20px 10px;
}

.start-at-wellsite--text p{
    width: 219px;
    margin-left: 10px;
}

#start-at-wellsite a{
    display: inline-block;
    width: 93px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: var(--sea-blue);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

#our-philosophy{
    width: 100%;
    min-width: 320px;
    height: 270px;
    background-image: url('./images/fotos/our-philosophy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
}

.our-philosophy--shadow-box{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-width: 320px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.our-philosophy--shadow-box h2{
    padding: 20px 10px;

}

.our-philosophy--shadow-box p{
    align-self: flex-end;
    width: 220px;
    padding-bottom: 10px;
    padding-right: 10px;
    

}

#our-developments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#our-developments h2{
    padding-top: 10px;
}
#our-developments p{
    padding-top: 10px;
}

.development-cards{
    min-width: 320px;
    display:grid;
    justify-content: center;    
    padding-top: 20px;
    grid-template-rows: 85px 85px ;
    grid-template-columns: 150px 150px;
    gap: 5px;
}
.development-card{
    width: 148px;
    height: 83px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.development-card span{
    display: inline-block;
    width: 140px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#rock-id{
    background-color: #F2F454;
}

#rock-id span{
    background-image: url('./images/fotos/rock-id-logo.png');
}

#id-radar{
    background-color: var(--dark-grey);
}

#id-radar span{
    background-image: url('./images/fotos/id-radar-logo.png');
}

#tornado{
    background-color: var(--dark-grey);
}

#tornado span{
    background-image: url('./images/fotos/tornado-logo.png');
}

#sarah{
    background-color: white;
}

#sarah span{
    background-image: url('./images/fotos/sarah-logo.png');
}

.development-card p{
    display: none;
}

#listening-the-well{
    width: 100%;
    min-width: 320px;
    height: 212px;
    margin-top: 10px;
    background-image: url('./images/fotos/listening-to-the-well.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.shadow-box{
    width: 100%;
    height: 212px;
    background-color: rgba(0, 0, 0, 0.5);    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

#listening-the-well h2{
    padding: 10px;
}

#listening-the-well p{
    padding-right: 10px;
    width: 220px;
    align-self: flex-end;
}
.listening-the-well--ca{
    margin-right: 10px;
    display: flex;
    gap: 10px;
}
.listening-the-well--ca a{
    width: 93px;
    height: 44px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: 'Lato';
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
}

.geological-button{
    background-color: var(--lime-green);
}

.mechanical-button{

    background-color: var(--sea-blue);
}

#our-proposition{
    width: 100%;
    min-width: 320px;
    height: 340px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.our-proposition--title{
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

#our-proposition img{
    width: 320px;
    min-width: 320px;
    height: auto;
}

#coding-our-way{
    min-width: 320px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



#coding-our-way p{
    padding-top: 10px;
}

.software-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 422px;
}
.software-container .software{
    display: inline-block;
    width: 94px;
    height: 100px;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

#python{
    background-image: url('./images/fotos/python-logo-2.png');
}
#javascript{
    background-image: url('./images/fotos/javascript-logo-2.png');
}
#c{
    background-image: url('./images/fotos/c-logo.jpeg');
}
#html{
    background-image: url('./images/fotos/html-logo.png');
}
#css{
    background-image: url('./images/fotos/css-logo.png');
}
#bootstrap{
    background-image: url('./images/fotos/bootstrap-logo.png');
}
#github{
    background-image: url('./images/fotos/github-logo.png');
}
#git{
    background-image: url('./images/fotos/git-logo.png');
}

footer{
    background-color: var(--grey-black);
    width: 100%;
    min-width: 320px;
    height: 108px;
}

footer li{
    list-style: none;
    text-align: center;
}

footer li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

footer .upper{
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: white 1px solid;
    margin: 0 10px 0 10px;
}

footer .upper .redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
footer .upper .otros-enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

footer .lower{
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}